body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width:100%;
  height:95vh;
  /* background-color: #42a5f5; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* New Style */
.MuiStepIcon-root.MuiStepIcon-active,.MuiStepIcon-root.MuiStepIcon-completed{
  color:#FFDB58 !important
}
.MuiStepIcon-text,.MuiAccordion-root:before,.no-ads-on{
  display: none;
}
.MuiSvgIcon-root{
  width:1.2em !important;
  height:1.2em !important;
}
.MuiStepLabel-label{
  font-size:24px !important;
}


.opacity-step3{
  opacity: 0.5;
}
.css-18j49sp{
  min-height: max-content !important;
  padding-bottom:12px;
}


.position-relative{
  position:relative;
}
.MuiStepConnector-lineHorizontal {
  border-top-width: 3px;
}

.MuiButtonBase-root-MuiAccordionSummary-root.Mui-expanded{
  min-height:48px !important;
  margin:12px 0 !important;
}

.MuiAccordionSummary-content.Mui-expanded{
  margin:12px 0 !important
}

.css-dtbg0r{
  display: none !important;
}

.css-1xhj18k{
  background: #FFFFFF;
border: 1px solid #EBEBEB;
box-sizing: border-box;
box-shadow: 0px 4px 32px rgba(170, 170, 170, 0.03);
border-radius: 12px;
}
.date-display{
  color:white;
}

.date-display .MuiSvgIcon-root{
  width:1em !important;
  height:0.8em !important;
}
.css-195y93z-MuiButtonBase-root-MuiPickersDay-root.Mui-selected,.css-bkrceb-MuiButtonBase-root-MuiPickersDay-root.Mui-selected,.rmdp-day.rmdp-selected span:not(.highlight){
  background-color: #262626 !important;
}

.checkbox-label span{
  font-size: 14px !important;
  text-align: left;
}
.borderButton span.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root{
  display:none !important;
}
.borderButton label{
  padding:8px 18px;
  margin:0
}
.ml-10{
  margin-left:10px;
}



#input[type="file"] {
  display: none;
}
.img-holder{
  width: 100%;
  min-height: 200px;
  max-height: 400px;
  border-radius: 10px;
}
.img{
  width: 100%;
  min-height: 200px;
  max-height: 400px;
  height: 400px;
  object-fit: contain;
}
.border-radius-8{
  border-radius: 8px;
}
.waffle, .grid-fixed-table{
  width:100% !important;
}

.rmdp-wrapper{
  width:100% !important;
  margin:10px 0
}
.rmdp-top-class{
  justify-content: center;
}
.footer-list {
  padding: 2px;
  list-style-type: none;
}
.footer-list li {
  display: inline-block;
  padding: 5px;
  margin-right: 10px;
}
.footer-list li a,.rmdp-week-day {
  color: rgb(0, 0, 0) !important;
  text-decoration: none;
}
.rmdp-arrow{
  border-color:#000 !important;
}
img.amarujalalogo {
  width: 160px;
}
.FormComponent-formContainer-14{
  height: auto !important;
}

.FormComponent-formContainer-1{
  height: auto !important;
}
.logo-grid{
  text-align: center;
}
.text-center{
  text-align: center;
}
@media(max-width:1028px){
  .logo-grid{
    text-align: start;
    padding-left:20px;
  }
  .xs-display-none{
    display: none !important;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.MuiButton-contained.Mui-disabled{
  background-color: rgba(0, 0, 0, 0.12) !important;
}

.total-grid-price{
  width:29% ;
}
@media(min-width:768px){
  p,body{
    font-size: 16px;
  }
}

@media(max-width:768px){
  p,body{
    font-size: 14px;
  }
  .MuiStepLabel-label{
    font-size:15px !important;
  }
  .FormComponent-formsteplabel-5,.FormComponent-formsteplabel-27,.step-label{
    display: none !important;
  }
  .adstype-label,.css-j204z7-MuiFormControlLabel-root .MuiFormControlLabel-label{
    font-size: 12px !important;
  }
  .step3-label{
    font-size:14px !important;
  }
  
  .eye-catcher-btn{
    width:140px;
    /* margin-top:5px; */
  }
}
@media(max-width:600px){
  .MuiGrid-root.MuiGrid-grid-xs-12.MuiGrid-grid-sm-4.MuiGrid-grid-lg-4{
      margin-top: 10px;
  }
  .mob-col-reverse{
    flex-direction: column-reverse ;
  }
}
@media(max-width:458px){
  
  .paper-label{
    padding: 0 !important;
  }
  img.amarujalalogo{
    width:150px;
  }
}

@media(max-width:350px){
  .css-1snvurg-MuiPickerStaticWrapper-root{
    min-width:inherit !important;
  }
  .css-1n2mv2k,.css-mvmu1r{
    justify-content: start !important;
  }
  .css-mvmu1r div{
    width:36px !important;
  }
  .css-l0iinn{
    margin-right:0 !important;
  }
  .css-18puooo{
    width:15px !important;
  }
  .css-1dozdou{
    padding-left:10px !important
  }
  .css-1w13o7u-MuiTypography-root{
    width:33px !important
  }
}
@media(min-width:992px){
  .grid-text-center{
    text-align: center;
  }
  .translateButton{
    float: right;
  }
  .eye-catcher-btn{
    width:140px;
  }
}
.citySelector .css-qiwgdb.css-qiwgdb.css-qiwgdb, .citySelector .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input{
  padding:10px !important;
}

.boldButton.css-j204z7-MuiFormControlLabel-root .MuiFormControlLabel-label,.boldButton .css-9l3uo3{
  font-weight: bold ;
}
.translateButton:hover{
background-color: none !important;
}

/* Package Trying CSs */
.ant-select-tree{
  font-size: 17px;
}
.ant-select-selection-overflow{
  padding:5px 8px;
}
.ant-select-selector{
  border-radius: 4px !important;
}
.ant-select:not(.ant-select-disabled):hover .ant-select-selector,.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector,.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector{
  border-color:none !important;
  box-shadow: none !important;
}
#mui-component-select-eyeCatcher{
  padding: 13px 30px !important;
}
.idProofGrid label{
  text-overflow: ellipsis;
    overflow: hidden;
    width: 88%;
    height: 18px;
}

#CheckoutFormBook input{
  width:100%;
}